@media (min-width: 761px) and (max-width: 1200px) {
  /* styles for screens between 761px and 1200px */

  h1 {
    margin-top: 55px;
  }

  .newsletter {
    margin: 50px auto;
    width: 750px;
    height: 630px;
  }

  .imageIn {
    width: 90%;
    background-position: 50% 50%;
  }

  .errorMessage {
    margin-left: 18%;
  }
}

@media (min-width: 481px) and (max-width: 760px) {
  /* styles for screens between 481px and 760px */

  h1 {
    margin-top: 30px;
    font-size: 2rem;
  }

  ul {
    margin-left: 10%;
    line-height: 40px;
  }

  .newsletter {
    border-radius: 40px;
    background: var(--white);

    margin: 50px auto;
    width: 600px;
    height: 750px;

    display: flex;
    gap: 2rem;

    flex-direction: column-reverse;
    justify-content: center; /* Horizontal centering */
  }

  .left {
    align-self: flex-start;

    height: 70%;
    width: 100%;
  }

  .right {
    align-self: flex-end;

    height: 30%;
    width: 100%;
  }

  .imageIn {
    background-image: url("illustration-sign-up-mobile.svg");
    background-repeat: no-repeat;

    background-size: 90%;
    background-position: center;
  }

  .errorMessage {
    margin-left: 48%;
  }
}

@media (min-width: 319px) and (max-width: 480px) {
  /* styles for screens between 319px and 480px */

  h1 {
    margin-top: 20px;
    margin-left: 5%;
    font-size: 2.3rem;
  }

  ul {
    margin-left: 5%;
    line-height: 40px;
  }

  p {
    margin-left: 5%;
  }

  form {
    margin-left: 5%;
  }

  .newsletter {
    border-radius: 40px;
    background: var(--white);

    margin: 50px auto;

    width: 400px;
    height: 800px;

    display: flex;
    gap: 2rem;

    flex-direction: column-reverse;
    justify-content: center; /* Horizontal centering */
  }

  .left {
    align-self: flex-start;

    height: 70%;
    width: 100%;
  }

  .right {
    align-self: flex-end;

    height: 30%;
    width: 100%;
  }

  .imageIn {
    background-image: url("illustration-sign-up-mobile.svg");
    background-repeat: no-repeat;

    background-size: 100%;
    background-position: center;
  }

  .errorMessage {
    margin-left: 28%;
  }
}
